%h1= @point.new_record? ? "Agregar un nuevo punto" : "Editar punto de arroyo especifico"
.row-fluid
  .span9
    #map
  .span3
    = form_for @point, html:{multipart: true, class: "form-horizontal"}, remote: true do |f|
      %div
        = label_tag "Seleccionar un arroyo"
        = collection_select(:point, :arroyo_id, Arroyo.all, :id, :name, :prompt => true)
      %div.lat-lng{class: "#{@point.new_record? ? 'hidden' : ''}" }
        %div
          = f.label :latitude, "latitud"
          = f.text_field :latitude
        %div
          = f.label :longitude,"longitud"
          = f.text_field :longitude
        %div
          = f.check_box :alternative
          \ ruta alternativa?
        %br
        %div
          = f.submit "Agregar", class: "btn btn-primary"

= subscribe_to "/points/new"