<% publish_to "/points/new" do %>
  <% if flash[:notice] %>
    $(".navbar").append("<div class='alert alert-success'>  Point added Succesfully </div>")
  <%end%>

  <% if flash[:error] %>
    $(".navbar").append("<div class='alert alert-error'>  Could not add point </div>")
  <%end%>

  $(".alert").fadeOut(6000, function() {
    $(this).remove
  });
<%end%>