= link_to "Agregar punto", new_point_path, {class: "btn btn-primary"} if current_user
%table.table.table-striped
  %thead
    %tr
      %th Latitud
      %th Longitud
      %th Arroyo
  %tbody
  - @points.each do |point|
    %tr
      %td= point.latitude
      %td= point.longitude
      %td= point.arroyo.name
      %td
        - if current_user
          = link_to point_path(point.id), method: "delete" do
            =image_tag("delete.png")

- content_for :javascript do
  = javascript_include_tag "points"