.footer-sat
  %table 
    %tr
      %td Proyecto de grado, simulación sistema de alertas tempranas (SAT)
    %tr
      %td Unversidad de la costa CUC
    %tr
      %td Luis Rodriguez, Diego Hernandez
    %tr  
      %td Barranquilla - Colombia

    
