.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container.color-cuc
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        = link_to root_path, class: "brand" do
          =image_tag("cuc2.png")
      .nav-collapse.collapse
        %ul.nav
          - if user_signed_in?
            %li
              = link_to "Nuevo arroyo", new_arroyo_path
          %li
            = link_to "Puntos", points_path
          %li
            = link_to "Sensor", sensors_path
          %li
            <a href="#myModal" data-toggle="modal">Acerca de la aplicación</a>

        - if user_signed_in?
          %ul.nav.pull-right
            %li
              = link_to "Salir", destroy_user_session_path, method: :delete
            %li
              = link_to "Administrador", "" 
        - unless user_signed_in?
          %ul.nav.pull-right
            %li
              = link_to "Iniciar sesión", new_user_session_path
