%h1= @arroyo.new_record? ? "Nuevo Arroyo" : "Edit Arroyo"
%h5.subtitle Arroyos
.row-fluid
  .span9
    #map
  .span3
    = form_for @arroyo, html:{multipart: true, class: "form-horizontal"} do |f|
      %div
        = f.label :address, "Direccion"
        = f.text_field :address 
      %div
        = f.label :name, "Nombre"
        = f.text_field :name
      %div
        %br
        = f.submit "Guardar", class: "btn btn-primary"

= subscribe_to "/points/new"