= render "form"

- content_for :javascript do
  = javascript_include_tag "arroyos"
  = javascript_include_tag "arroyos_new"
  = javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"

= subscribe_to "/arroyos/index"