%h3.fuck Sistema de alertas tempranas de los arroyos en la ciudad de Barranquilla SATAB
%a{id: "list-arroyos", href: "javascript:;", data: "show"} Listar todos los arroyos
%fieldset
  = collection_select(:arroyo, :arroyo_id, Arroyo.all, :id, :name, :prompt => "Todos los arroyos")

  .js-origin-fields.hidden
    = text_field_tag :user_origin, nil, class: "js-user-lat-origin"
    = text_field_tag :user_destination, nil, class: "js-user-lng-origin"

  .js-destination-fields.hidden
    = text_field_tag :user_origin, nil, class: "js-user-lat-destination"
    = text_field_tag :user_destination, nil, class: "js-user-lng-destination"

  %button.btn.btn-primary.hidden.js-get-alternative-route Rutas alternas
  %button.btn.btn-primary.hidden.js-clean-alternative-route Limpiar Rutas

#map.map
#legend
  = image_tag("markers.png")

#list-arroyos.hidden
  %h2 lista de arroyos
  = link_to "Agregar arroyo", new_arroyo_path, {class: "btn btn-primary"} if current_user
  %table.table.table-striped
    %thead
      %tr
        %th Nombre
        %th Direccion
    %tbody
    - @arroyos.each do |arroyo|
      %tr
        %td= arroyo.name
        %td= arroyo.address
        - if current_user
          %td
            = link_to edit_arroyo_path(arroyo) do
              = image_tag("edit.png")
          %td
            = link_to arroyo_path(arroyo.id), method: "delete" do
              = image_tag("delete.png")

- content_for :javascript do
  = javascript_include_tag "arroyos"

= subscribe_to "/points/new"