%h1= @sensor.new_record? ? "Agregar un nuevo sensor" : "Editar sensor"
%h5.subtitle{"data-sensor-id" => params[:id] }= "Para editar, porfavor mover el cursor a su nueva posición" unless @sensor.new_record?
.row-fluid
  .span9
    #map
  .span3
    = form_for @sensor, html:{multipart: true, class: "form-horizontal"}, remote: true do |f|
      %div
        = label_tag "Seleccionar arroyo"
        = collection_select(:sensor, :arroyo_id, Arroyo.all, :id, :name, :prompt => true)
      %div.lat-lng{class: "#{@sensor.new_record? ? 'hidden' : ''}" }
        %div
          = f.label :latitude, "latitud"
          = f.text_field :latitude
        %div
          = f.label :longitude, "Longitud"
          = f.text_field :longitude
        %div
          = f.label :status, "Estado"
          = f.select :status, Sensor::STATUS_OPTIONS, {prompt: 'Select Status'}
        %div
          = f.label :external_id, "Serial"
          = f.text_field :external_id
        %div
          = f.submit "Guardar", class: "btn btn-primary"

= subscribe_to "/points/new"