= link_to "Agregar", new_sensor_path, {class: "btn btn-primary"} if current_user
%table.table.table-striped
  %thead
    %tr
      %th Latitud
      %th Longitud
      %th Estado
      %th Arroyo
  %tbody
  - @sensors.each do |sensor|
    %tr
      %td= sensor.latitude
      %td= sensor.longitude
      %td= sensor.status
      %td= sensor.arroyo.name
      - if current_user
        %td
          = link_to edit_sensor_path(sensor) do
            =image_tag("edit.png")
        %td
          = link_to sensor_path(sensor.id), method: "delete" do
            =image_tag("delete.png")



- content_for :javascript do
  = javascript_include_tag "sensors"