// Place all the styles related to the arroyos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#legend {
	background: white;
    text-align: right;    
    margin-left: 2em;	
    margin-right: 2em;	
 
  }