<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag "http://maps.google.com/mapfiles/ms/icons/water.png" %>
  <title>SATAB</title>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"%>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%=render "shared/header"%>
  <div class="container">
    <%= render "shared/alerts"%>
    <%= yield %>
  </div>
  <%= yield :javascript %>
    <div class="footer">
      <%=render "shared/footer"%>      
    </div>

  <!-- Modal -->
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">SATAB</h3>
    </div>
  <div class="modal-body">
    <p>El sistema de alertas temprnas de los arroyos en la ciudad de Barranquilla cuenta con información del estado de los arroyos registrados en el sistema por parte del administrador.</p>
    <p>
    En la págna principal se encuentra el mapa en el cual se pueden visualizar los arroyos registrados, 
    las posibles rutas alternas  y el estado de peligrosidad, siendo verde que no hay ningún peligro, amarillo indica que hay que estar alertas porque hay posible crecimiento de las corrientes de agua y rojo que el arroyo se encuentra con un alto nivel de peligrosidad.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>    
    </div>
  </div>

</body>
</html>
